<p class="page-title">User's Data From Quizzes</p>
<div class="wrapper">
    <div class="engine-graphs-container table">
        <p class="title">Preferred By Gender</p>
        <table mat-table [dataSource]="motorTableData" class="mat-elevation-z8">
            <ng-container matColumnDef="gender">
              <th mat-header-cell *matHeaderCellDef>Gender</th>
              <td mat-cell *matCellDef="let element"> {{ element?.gender }} </td>
            </ng-container>
            <ng-container matColumnDef="fuel">
              <th mat-header-cell *matHeaderCellDef>Fuel</th>
              <td mat-cell *matCellDef="let element"> {{ element?.fuel | percent }} </td>
            </ng-container>
            <ng-container matColumnDef="electric">
                <th mat-header-cell *matHeaderCellDef>Electric</th>
                <td mat-cell *matCellDef="let element"> {{ element?.electric | percent }} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    <div class="hobby-graphs-container graphs">
        <canvas id="hobby"></canvas>
    </div>
    <div class="city-graphs-container graphs">
        <canvas id="city"></canvas>
    </div>
    <div class="colors-graphs-container graphs" #colorsContainer></div>
</div>