<div class="wrapper">
    <div class="form-wrapper">
        <p class="title">Find your perfect car with few simple questions</p>
        <form [formGroup]="BuyerDetailsForm" (ngSubmit)="onSubmit()">
            <div class="container-1">
                <div class="container-3">
                    <div class="input-container name">
                        <p class="text">Full Name</p>
                        <input class="input" placeholder="Full Name..." type="text" formControlName="name">
                    </div>
                    <div class="input-container date">
                        <p class="text">Birthdate</p>
                        <div class="input-wrapper">
                            <input class="input" placeholder="MM/DD/YYYY" [matDatepicker]="datepicker" formControlName="birthdate">
                            <div class="date-picker">
                                <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
                                <mat-datepicker #datepicker></mat-datepicker>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="input-container gender">
                    <p class="text">Gender</p>
                    <mat-radio-group aria-label="Select an option" formControlName="gender" class="radio-group">
                        <mat-radio-button value="male">Male</mat-radio-button>
                        <mat-radio-button value="female">Female</mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>

            <div class="input-container email">
                <p class="text">Email Address</p>
                <input class="input" placeholder="example@example.com" type="text" formControlName="email">
            </div>

            <div class="location-container" formGroupName="location">
                <div class="container-2">
                    <div class="input-container city">
                        <p class="text">City</p>
                        <input class="input" placeholder="City..." type="text" formControlName="city">
                    </div>            
                    <div class="input-container">
                        <p class="text">Country</p>
                        <input class="input" placeholder="Country..." type="text" formControlName="country">
                    </div>            
                </div>
                <div class="input-container">
                    <p class="text">Address</p>
                    <input class="input" placeholder="Address..." type="text" formControlName="address">
                </div>
            </div>

            <div class="container-4">
                <div class="input-container">
                    <p class="text">What are your hobbies?</p>
                    <app-chips-input [formArray]="hobbies" entityName="Hobbies"></app-chips-input>
                </div>
                <div class="input-container">
                    <p class="text">What is your favorite color?</p>
                    <div class="pallete-container">
                        <input class="input" [value]="color?.value" disabled>
                        <div class="palette-button"
                            ngx-colors-trigger
                            formControlName="color"
                            [style.color]="color?.value">
                            <mat-icon aria-hidden="false"fontIcon="palette"></mat-icon>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-5">
                <div class="input-container seats">
                    <p class="text">Required amount of seats</p>
                    <mat-slider class="slider" max="7" min="2" step="1" discrete="true" showTickMarks="true">
                    <input matSliderThumb formControlName="seats" #slider>
                    </mat-slider>
                </div>
                <div class="input-container">
                    <p class="text">Motor type</p>
                    <mat-radio-group aria-label="Select an option" formControlName="motor">
                        <mat-radio-button value="electric">Electric</mat-radio-button>
                        <mat-radio-button value="fuel">Fuel</mat-radio-button>
                    </mat-radio-group>
                </div> 
            </div>

            <button class="submit-button" type="submit" [disabled]="!BuyerDetailsForm.valid">Submit</button>
        </form>
    </div>
    <div class="image-wrapper">
        <img src="/assets/images/car-task.jpg">
    </div>
</div>