.wrapper {
    display: flex;
    height: 100%;
    .link-container {
        cursor: pointer;
        display: flex;
        height: 100%;
        align-items: center;
        margin: 0 4px;
        
        &.active {
            background-color: rgba(211, 211, 211, 0.8);
        }
        &:hover:not(.active) {
            background-color: rgba(211, 211, 211, 0.4);
        }
        .icon {
            margin: 0 4px;
        }
        .text {
            margin-right: 4px;
        }
    }
}