mat-chip-grid {
    border: 1px solid black;
    min-height: 28px;
    padding: 0 4px;
}
mat-chip-row {
    height: 20px;
    border-radius: 10px;
}
::ng-deep input.mat-mdc-chip-input {
    border: none;
    outline: none;
    min-height: 28px;
}
::ng-deep .mat-mdc-chip-remove .mat-icon {
    font-size: 16px !important;
    padding-top: 3px;
}