<mat-chip-grid #chipGrid>
  <mat-chip-row
    (removed)="remove(i)"
    *ngFor="let control of formArray.controls; index as i">
    {{ control.value }}
    <button matChipRemove [attr.aria-label]="'remove ' + control.value">
      <mat-icon>cancel</mat-icon>
    </button>
  </mat-chip-row>
  <input [placeholder]="placeholder"
    [matChipInputFor]="chipGrid"
    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
    [matChipInputAddOnBlur]="addOnBlur"
    (matChipInputTokenEnd)="add($event)" />
</mat-chip-grid>